:root {
	height: 100%;
	overflow-y: scroll;
	background: #100D15;
	/* colors */
	--color-spotlight: #241b35;
	--color-background: #0c090f;
	--color-text: #e5e5e5;
	--color-text-secondary: #a9a9a9;
	--color-accent: #c76eff;
	
}

span{
	color: var(--color-text);
}

.highlighted {
	color: var(--color-accent);
}

.header-item{
	font-family: "Cascadia Code", monospace;
	font-size: 15px;
	padding: 10px;
	color: rgba(255, 255, 255, 0.3);
}

.header-item:hover{
	color: rgba(255, 255, 255, 0.5);
}

.header-item.active{
	color: var(--color-text);
	z-index: 1;
}

header{
	position: fixed;
	z-index: 10000;
}

table{
	position: relative;
	left: 0;
	right: 0;
	top: 50%;
	width: 50%;
	margin: auto;
}

#title {
	margin-right: 40px;
	top: 0;
	color: var(--color-text);
	font-weight: 500;
	font-family: "Cascadia Code", monospace;
	font-size: 40px;
}

#text {
	text-align: center;
	color: var(--color-text);
	font-family: 'Cascadia Code';
	text-align: justify;
}

.cursor {
	position: fixed;
	height: 6px;
	width: 6px;
	background-color: var(--color-accent);
	border-radius: 50%;
}


#title_traveler {
	z-index: -1;
	opacity: .5;
	backdrop-filter: blur(10px);
}

#title_welcome {
	z-index: 1;
}
#wrapper{
	background: rgba(255, 255, 255, 0.1);
	border-radius: 25px;
	padding: 100px;
	backdrop-filter: blur(10px);
}

.scroll-indicator{
	position: absolute;
	left: 50%;
	bottom: 15px;
	color: var(--color-text);
	font-family: 'Cascadia Code';
	font-size: 14px;
	opacity: .5;
}


.section{
	position: relative;
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: -10;
}

#projects{
	background: #100D15;
}

#hero {
	background: radial-gradient(ellipse at top, var(--color-spotlight) 0%, var(--color-background) 100%);
}
#carousel{
	position: relative;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	height: 40rem;
	border-radius: 25px;
	margin: 2rem;
	top: 10%;
	z-index: 1000;
}
/* make it so that the stars take up the whole screen*/
#particles-js {
	top: 0;
	position: absolute;
	height: 400%;
	overflow: hidden;
	z-index: 0;
}


/* font stuff */
@font-face {
	font-family: 'Cascadia Code';
	src: "assets/fonts/CascadiaCode-Regular.ttf";
}


@font-face {
	font-family: 'Cascadia Code';
	src: "assets/fonts/CascadiaCodeItalic.ttf";
	font-style: italic;
}
