.trafficLights {
  display: flex;
  gap: 8px;

  .red {
    background-color: #ec6b5e;
  }

  .yellow {
    background-color: #f4bf4f;
  }

  .green {
    background-color: #60c555;
  }

  &>* {
    height: 12px;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:active {
      filter: brightness(0.6);
    }
  }
}
