:root{
    --background-color: #24273a;
    --accent-color: #8aadf4;
    --accent-green: #a6da95;
    --window-color: #363a4f;
    --window-border-color: #494d64;
    --text-primary: #cad3f5;
    --text-subtext: #b8c0e0;
}
body {
    background-color: var(--background-color) !important;
}

h1 {
    color: var(--text-primary);
    font-family: "JetBrainsMono";
    font-size: 5rem !important;
}
.highlighted {
    color: var(--accent-green);
}

a {
    color: var(--text-subtext) !important;
    font-family: "JetBrainsMono" !important;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

@font-face {
    font-family: 'JetbrainsMono';
    src: url('/assets/font/JetBrainsMono-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}